//- Připojené v navbar.pug

mixin mfooter (footerData)
	-  var ni = footerData+1
	-  var pi = footerData-1
	if (footerData >= projects.length -1)
		- var ni = 0
	if (footerData <= 0)
		- var pi = projects.length -1;
	br
	.footer
		.footer-left
			.pag-info
			br
			span
				a(href="single" + pi + ".html") Prev project
		div.project-text-modal #{projects[i].project[0].title}
			br
			span #{projects[i].project[0].rok}
			br
			a.open-button.active(href="#",onclick="return false" ) View text
		div.footer-right
			.pag-info2 
			br
			span
				a(href="single" + ni + ".html") Next project


mixin mimages (index)

	.grid#content
		ul.grid-ul
			li
				div.carousel
					each item, i in gimg[index][0]
						div
							//- img(data-lazy=item)
							div.pmodal-ico(onclick="mymodal()")
								img(src=item)




				

			li
				div.carousel2
					each item in gimg[index][1]
						div
							//- img(data-lazy=item)
							div.pmodal-ico(onclick="mymodal2()")
								img(src=item)
	

	.modal-wrap.closed#modal
		.modal-window
			.modal-close#close-button
				a(class="nav-link", href="#",onclick="return false" )
					img(src="images/ico_close.svg", alt="")
			.modal-content 
				p #{projects[i].project[0].title}<br><br>
				p !{projects[i].project[0].text}
				.credentials
					.cred
						span Klient 
					.cred
						span #{projects[i].project[0].klient}
				.credentials
					.cred
						span Lokace 
					.cred
						span #{projects[i].project[0].lokace}
				.credentials
					.cred
						span Typologie 
					.cred
						each item in projects[i].project[0].typologie
							span #{item} <br>
				.credentials
					.cred
						span Typ 
					.cred
						span #{projects[i].project[0].typ}
				.credentials
					.cred
						span Rok 
					.cred
						span #{projects[i].project[0].rok}
				.credentials
					.cred
						span Status 
					.cred
						span #{projects[i].project[0].status}	
				.credentials
					.cred
						span Užitná plocha 
					.cred
						span #{projects[i].project[0].uzplocha}
				.credentials
					.cred
						span Velikost 
					.cred
						span #{projects[i].project[0].velikost}
				.credentials
					.cred
						span Náklady 
					.cred
						span #{projects[i].project[0].naklady}
				.credentials
					.cred
						span Autoři 
					.cred
						span #{projects[i].project[0].autori}
				.credentials
					.cred
						span Spoluautoři 
					.cred
						span #{projects[i].project[0].spoluautori}
				.credentials
					.cred
						span Odborná spolupráce 
					.cred
						span #{projects[i].project[0].odbspoluprace}






	// The Modal
	#myModal.pmodal
		// Modal content
		.pmodal-content
			//- span.pclose
			//- 	img.svgimg(src="../images/ico_close.svg")
			div.slider-for
				each item in gimg[index][0]
						div
							//- img(data-lazy=item)
							img.img-fluid.img-close(src=item)

	// The Modal
	#myModal2.pmodal.pmodal2
		// Modal content
		.pmodal-content
			//- span.pclose
			//- 	img.svgimg(src="../images/ico_close.svg")
			div.slider-for2
				each item in gimg[index][1]
						div
							//- img(data-lazy=item)
							img.img-fluid.img-close(src=item)



