mixin mfooter (footerData)
	-  var ni = footerData+1
	-  var pi = footerData-1
	if (footerData >= projects.length -1)
		- var ni = 0
	if (footerData <= 0)
		- var pi = projects.length -1;
	br
	.footer
		.footer-left
			.pag-info
			br
			span
				a(href="single" + pi + ".html") Prev project
		div.project-text-modal #{projects[i].project[0].title}
			br
			span #{projects[i].project[0].rok}
			br
			a.open-button.active(href="#",onclick="return false" ) View text
		div.footer-right
			.pag-info2 
			br
			span
				a(href="single" + ni + ".html") Next project


mixin mimages (index)
	.grid#content
		ul.grid-ul
			li
				div.carousel #{gimg[index][1][0]}
					each item in gimg[index][0]
						div
							img(src=gimg[index][2]+item)
				

			li
				div.carousel2
					each item in gimg[index][1]
						div
							img(src=gimg[index][2]+"/plans/"+item)

	.modal-wrap.closed#modal
		.modal-window
			.modal-close#close-button
				a(class="nav-link", href="#",onclick="return false" )
					img(src="images/ico_close", alt="")
			.modal-content 
				p #{projects[i].project[0].title}<br><br>
				p #{projects[i].project[0].text}
				.credentials
					.cred
						span Lokace 
					.cred
						span #{projects[i].project[0].lokace}
				.credentials
					.cred
						span Klient 
					.cred
						span #{projects[i].project[0].klient}
				.credentials
					.cred
						span Náklady 
					.cred
						span #{projects[i].project[0].naklady}
				.credentials
					.cred
						span Rok 
					.cred
						span #{projects[i].project[0].rok}
				.credentials
					.cred
						span Status 
					.cred
						each item in projects[i].project[0].status
							span #{item} <br>







div.menu
	div.logo
		a(href="index.html")
			img(src="images/logo.svg", alt="")
	nav.nav_menu
		ul.navbar-nav
			each item in pages
				li.nav-item 
					a.nav-link(href=item + ".html") #{item}
				
				
				

	nav.langer
		ul.navbar-nav.lang
			li.nav-item
				a.nav-link.active(href="index.html") CZ
			li.nav-item
				a.nav-link(href="index.html") EN