extends layout.pug
block body
	body.body_single#body
block content
		div.grid
			section
				ol.collection.collection-container
					// The first list item is the header of the table

					li.item.item-container
						.attribute 
						.attribute(data-name='#') Project
						// Enclose semantically similar attributes as a div hierarchy
						.attribute-container.part-information
							.attribute-container.part-id
								.attribute(data-name='Part Number') Location
								.attribute(data-name='Part Description') Status
							.attribute-container.vendor-information
								.attribute Client
								.attribute Costs
						.attribute-container.quantity
							.attribute Year
							.attribute Download



						//- .attribute-container.duty
						//- 	.attribute Duty %
						//- 	.attribute Duty
						//- .attribute-container.freight
						//- 	.attribute Freight %
						//- 	.attribute Freight
						//- .attribute UOM
						//- .attribute Vendor Part Number
					// The rest of the items in the list are the actual data
					each proj, index in projects
						each item in proj.project
							li.item.item-container
								.attribute
									img(src=item.path+item.images[0], alt="", width="150px")
								.attribute(data-name='#') #{item.title}
								.attribute-container.part-information
									.attribute-container.part-id
										.attribute(data-name='Part Number') #{item.lokace}
										.attribute(data-name='Part Description')
											each stat in projects[index].project[0].status
												span #{stat} <br>
									.attribute-container.vendor-information
										.attribute(data-name='Vendor Number') #{item.klient}
										.attribute(data-name='Vendor Name') #{item.naklady}
								.attribute-container.quantity
									.attribute(data-name='Order Qty') #{item.rok}
									.attribute(data-name='Receive Qty') PDF